/***** global styles start *****/
@font-face {
  font-family: 'GillSans SemiBold';
  src: url('../fonts/GillSans-SemiBold.woff2') format('woff2'),
      url('../fonts/GillSans-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Light';
  src: url('../fonts/Lato-Light.woff2') format('woff2'),
      url('../fonts/Lato-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KhmerMN Bold';
  src: url('../fonts/KhmerMN-Bold.woff2') format('woff2'),
      url('../fonts/KhmerMN-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KhmerMN Regular';
  src: url('../fonts/KhmerMN.woff2') format('woff2'),
      url('../fonts/KhmerMN.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MediaGothic';
  src: url('../fonts/MediaGothic.woff2') format('woff2'),
      url('../fonts/MediaGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cambon SemiBold';
  src: url('../fonts/Cambon-SemiBold.woff2') format('woff2'),
      url('../fonts/Cambon-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HomepageBaukasten Book';
  src: url('../fonts/HomepageBaukasten-Book.woff2') format('woff2'),
      url('../fonts/HomepageBaukasten-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NATS';
  src: url('../fonts/NATS.woff2') format('woff2'),
      url('../fonts/NATS.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-size: 35px;
  font-family: 'KhmerMN Bold', sans-serif;
}

h3 {
  font-family: 'NATS', sans-serif;
  font-size: 25px;
  color: #010101;
}

h4 {
  font-family: 'NATS', sans-serif;
  font-size: 25px;
}

h5 {
  font-family: 'NATS', sans-serif;
  font-size: 17px;
  color: #010101;
}

h6 {
  font-family: 'GillSans SemiBold', sans-serif;
  font-size: 17px;
  margin-top: 4px;
}

p {
  font-family: 'HomepageBaukasten Book', sans-serif;
  font-size: 16px;
}

a, li {
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/***** global styles end *****/


/***** header start *****/
.header-top {
  background: #fff0fd;
  position: relative;
}

img.banner-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.navbar {
  padding: 10px 0;
}

.nav-item {
  padding: 0 6px;
}

.nav-link {
  font-family: 'NATS', sans-serif;
  font-size: 18px;
  color: #3a251c;
}

.first-nav .nav-item .nav-link span {
  position: relative;
}

.first-nav .nav-item .nav-link span::before {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #3a251c;
  -webkit-transform: scaleX(0);
     -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
       -o-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
     -moz-transform-origin: left;
      -ms-transform-origin: left;
       -o-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.first-nav .nav-item .nav-link:hover {
  color: #3a251c;
}

.first-nav .nav-item .nav-link:hover span::before {
  -webkit-transform: scaleX(1);
     -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
     -moz-transform-origin: right;
      -ms-transform-origin: right;
       -o-transform-origin: right;
          transform-origin: right;
}

.header-logo {
  display: inline-block;
  margin: 0;
  padding: 5px;
}

.header-logo img {
  max-width: 125px;
}

.second-nav {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-nav .nav-link:hover svg {
  -webkit-animation-name: shake;
     -moz-animation-name: shake;
       -o-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.75s;
     -moz-animation-duration: 0.75s;
       -o-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
       -o-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
 } 
  20% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  40% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  60% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  80% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@-moz-keyframes shake {
  0% {
    -moz-transform: rotateZ(0deg);
         transform: rotateZ(0deg);
 } 
  20% {
    -moz-transform: rotateZ(3deg);
         transform: rotateZ(3deg);
  }
  40% {
    -moz-transform: rotateZ(-3deg);
         transform: rotateZ(-3deg);
  }
  60% {
    -moz-transform: rotateZ(3deg);
         transform: rotateZ(3deg);
  }
  80% {
    -moz-transform: rotateZ(-3deg);
         transform: rotateZ(-3deg);
  }
  100% {
    -moz-transform: rotateZ(0deg);
         transform: rotateZ(0deg);
  }
}

@-o-keyframes shake {
  0% {
    -o-transform: rotateZ(0deg);
       transform: rotateZ(0deg);
 } 
  20% {
    -o-transform: rotateZ(3deg);
       transform: rotateZ(3deg);
  }
  40% {
    -o-transform: rotateZ(-3deg);
       transform: rotateZ(-3deg);
  }
  60% {
    -o-transform: rotateZ(3deg);
       transform: rotateZ(3deg);
  }
  80% {
    -o-transform: rotateZ(-3deg);
       transform: rotateZ(-3deg);
  }
  100% {
    -o-transform: rotateZ(0deg);
       transform: rotateZ(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
 } 
  20% {
    -webkit-transform: rotateZ(3deg);
       -moz-transform: rotateZ(3deg);
         -o-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  40% {
    -webkit-transform: rotateZ(-3deg);
       -moz-transform: rotateZ(-3deg);
         -o-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  60% {
    -webkit-transform: rotateZ(3deg);
       -moz-transform: rotateZ(3deg);
         -o-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  80% {
    -webkit-transform: rotateZ(-3deg);
       -moz-transform: rotateZ(-3deg);
         -o-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  background-color: transparent;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  padding: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  color: #2c160b;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.searchbar:hover > .search_input{
  padding: 0 15px;
  width: 300px;
  caret-color: #000;
}

.search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  color:white;
  text-decoration:none;
}

.search_icon svg {
  width: 28px;
  height: 28px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.searchbar:hover {
  background: #fff0fd;
}

.search_icon:hover svg {
  opacity: .7;
}

.second-nav .nav-link svg {
  width: 28px;
  height: 28px;
}

.header-top-content {
  position: relative;
  padding-top: 135px;
}

.header-top-content img {
  position: absolute;
  max-width: 435px;
  bottom: -240px;
  right: 90px;
}

.header-top-content h1 {
  font-family: 'KhmerMN Bold', sans-serif;
  font-size: 55px;
  color: #000;
  max-width: 635px;
}

.header-bottom {
  background: #ffcd94;
  padding-bottom: 135px;
}

.header-bottom ul {
  margin-top: 14px;
}

.header-bottom ul li {
  font-family: 'NATS', sans-serif;
  font-size: 17px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom ul li span {
  font-size: 22px;
  margin-right: 15px;
}

.header-bottom ul li span svg {
  width: 22px;
  height: 22px;
  fill: #fff;
}

a.shop-btn {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-top: 20px;
  font-family: 'NATS', sans-serif;
  font-size: 17px;
  width: 146.44px;
  height: 40.33px;
}

a.shop-btn span {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffb560), color-stop(50%, #ffb560), color-stop(50%, #010101));
  background-image: -webkit-linear-gradient(left, #ffb560, #ffb560 50%, #010101 50%);
  background-image: -moz-linear-gradient(left, #ffb560, #ffb560 50%, #010101 50%);
  background-image: -o-linear-gradient(left, #ffb560, #ffb560 50%, #010101 50%);
  background-image: linear-gradient(to right, #ffb560, #ffb560 50%, #010101 50%);
  -webkit-background-size: 200% 100%;
     -moz-background-size: 200% 100%;
       -o-background-size: 200% 100%;
          background-size: 200% 100%;
  background-position: -100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: 'NATS', sans-serif;
  font-size: 17px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a.shop-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
}

a.shop-btn:hover span {
  background-position: 0%;
}
/***** header end *****/


/***** about section start *****/
.about-sec {
  text-align: center;
  padding: 100px 0 150px;
}

.about-top {
  margin-bottom: 20px;
}

.about-top-content {
  max-width: 665px;
  margin: 0 auto;
}

.about-top-content h2 {
  margin-bottom: 0;
}

.plus-sec {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plus-sec span:nth-child(1) {
  width: 85px;
  height: 0.7px;
  background: #4f4f4f;
  display: inline-block;
  margin-right: 14px;
  -webkit-box-shadow: 0 0 1px rgba(79, 79, 79, 0.3);
     -moz-box-shadow: 0 0 1px rgba(79, 79, 79, 0.3);
          box-shadow: 0 0 1px rgba(79, 79, 79, 0.3);
}

.plus-sec span:nth-child(2) svg {
  width: 25px;
  height: 29.25px;
  fill: #fbac47;
}

.plus-sec span:nth-child(3) {
  width: 85px;
  height: 0.7px;
  background: #4f4f4f;
  display: inline-block;
  margin-left: 14px;
  -webkit-box-shadow: 0 0 1px rgba(79, 79, 79, 0.3);
     -moz-box-shadow: 0 0 1px rgba(79, 79, 79, 0.3);
          box-shadow: 0 0 1px rgba(79, 79, 79, 0.3);
}

.about-top-content p {
  margin-top: 5px;
  color: #4f4f4f;
}

.about-item {
  padding: 21px 25px 15px;
  max-width: 390px;
  margin: 35px auto;
  height: 265px;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 0px 3px 20px rgba(1, 1, 1, 0.07);
     -moz-box-shadow: 0px 3px 20px rgba(1, 1, 1, 0.07);
          box-shadow: 0px 3px 20px rgba(1, 1, 1, 0.07);
}

.about-item:hover {
  -webkit-box-shadow: 0px 4px 25px 4px rgba(1, 1, 1, 0.05);
     -moz-box-shadow: 0px 4px 25px 4px rgba(1, 1, 1, 0.05);
          box-shadow: 0px 4px 25px 4px rgba(1, 1, 1, 0.05);
}

.about-item img {
  display: inline-block;
  max-width: 80px;
  margin-bottom: 15px;
}

.about-item p {
  font-family: 'NATS', sans-serif;
  font-size: 15px;
  color: #4f4f4f;
}

.about-item:hover img {
  -webkit-animation-name: shake-two;
     -moz-animation-name: shake-two;
       -o-animation-name: shake-two;
          animation-name: shake-two;
  -webkit-animation-duration: 0.65s;
     -moz-animation-duration: 0.65s;
       -o-animation-duration: 0.65s;
          animation-duration: 0.65s;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
       -o-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes shake-two {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
 } 
  20% {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  40% {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  60% {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  80% {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@-moz-keyframes shake-two {
  0% {
    -moz-transform: rotateZ(0deg);
         transform: rotateZ(0deg);
 } 
  20% {
    -moz-transform: rotateZ(5deg);
         transform: rotateZ(5deg);
  }
  40% {
    -moz-transform: rotateZ(-5deg);
         transform: rotateZ(-5deg);
  }
  60% {
    -moz-transform: rotateZ(5deg);
         transform: rotateZ(5deg);
  }
  80% {
    -moz-transform: rotateZ(-5deg);
         transform: rotateZ(-5deg);
  }
  100% {
    -moz-transform: rotateZ(0deg);
         transform: rotateZ(0deg);
  }
}

@-o-keyframes shake-two {
  0% {
    -o-transform: rotateZ(0deg);
       transform: rotateZ(0deg);
 } 
  20% {
    -o-transform: rotateZ(5deg);
       transform: rotateZ(5deg);
  }
  40% {
    -o-transform: rotateZ(-5deg);
       transform: rotateZ(-5deg);
  }
  60% {
    -o-transform: rotateZ(5deg);
       transform: rotateZ(5deg);
  }
  80% {
    -o-transform: rotateZ(-5deg);
       transform: rotateZ(-5deg);
  }
  100% {
    -o-transform: rotateZ(0deg);
       transform: rotateZ(0deg);
  }
}

@keyframes shake-two {
  0% {
    -webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
 } 
  20% {
    -webkit-transform: rotateZ(5deg);
       -moz-transform: rotateZ(5deg);
         -o-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  40% {
    -webkit-transform: rotateZ(-5deg);
       -moz-transform: rotateZ(-5deg);
         -o-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  60% {
    -webkit-transform: rotateZ(5deg);
       -moz-transform: rotateZ(5deg);
         -o-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  80% {
    -webkit-transform: rotateZ(-5deg);
       -moz-transform: rotateZ(-5deg);
         -o-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}
/***** about section end *****/


/***** formula section start *****/
.formula-sec {
  overflow: hidden;
  background: #ffcd94;
  padding: 20px 0 105px;
  -webkit-box-shadow: 0px 0px 40px 40px rgb(255, 205, 148);
     -moz-box-shadow: 0px 0px 40px 40px rgb(255, 205, 148);
          box-shadow: 0px 0px 40px 40px rgb(255, 205, 148);
}

.formula-top {
  text-align: center;
  margin-bottom: 120px;
}

.formula-top h2 {
  font-family: 'NATS', sans-serif;
  margin-bottom: 0;
}

.formula-top .plus-sec:nth-child(2) svg {
  fill: #2c150e;
}

.formula-bottom-img {
  text-align: center;
  position: relative;
  max-width: 665px;
  margin: 0 auto;
}

.formula-bottom-img > img {
  max-width: 385px;
}

.formula-item {
  position: absolute;
  max-width: 225px;
}

.formula-item-img img {
  max-width: 70px;
}

.formula-item h5 {
  margin: 12px 0 0;
}

.formula-item p {
  font-family: 'NATS', sans-serif;
  font-size: 14px;
  color: #010101;
  letter-spacing: -0.28px;
}

.formula-item:nth-of-type(1) {
  top: -100px;
  left: 50px;
}

.formula-item:nth-of-type(2) {
  top: 82px;
  left: -15px;
}

.formula-item:nth-of-type(3) {
  bottom: -35px;
  left: 30px;
}

.formula-item:nth-of-type(4) {
  top: -100px;
  right: -40px;
}

.formula-item:nth-of-type(5) {
  top: 82.5px;
  right: -110px;
}

.formula-item:nth-of-type(6) {
  bottom: -110px;
  right: -20px;
}
/***** formula section end *****/


/***** promise section start *****/
.promise-sec {
  position: relative;
  padding: 190px 0 85px;
}

.promise-sec > img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 205px;
  left: 0;
}

.promise-content {
  color: #2c160b;
  text-align: center;
  max-width: 730px;
  margin: 0 auto;
}

.promise-content h4 {
  margin-bottom: 0;
}

.promise-content h2 {
  font-family: 'Cambon SemiBold', sans-serif;
  font-size: 40px;
}

.promise-content p {
  margin: 25px 0 30px;
}

a.learn-more-btn {
  display: inline-block;
  position: relative;
  text-align: center;
  font-family: 'NATS', sans-serif;
  font-size: 17px;
  width: 146.44px;
  height: 40.33px;
}

a.learn-more-btn span {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #2c160b));
  background-image: -webkit-linear-gradient(left, #ffffff, #ffffff 50%, #2c160b 50%);
  background-image: -moz-linear-gradient(left, #ffffff, #ffffff 50%, #2c160b 50%);
  background-image: -o-linear-gradient(left, #ffffff, #ffffff 50%, #2c160b 50%);
  background-image: linear-gradient(to right, #ffffff, #ffffff 50%, #2c160b 50%);
  -webkit-background-size: 200% 100%;
     -moz-background-size: 200% 100%;
       -o-background-size: 200% 100%;
          background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: 'NATS', sans-serif;
  font-size: 17px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a.learn-more-btn span i {
  font-size: 14px;
  margin-left: 10px;  
}

a.learn-more-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f9a547;
}

a.learn-more-btn:hover span {
  background-position: 0%;
}
/***** promise section end *****/


/***** testimonial section start *****/
.testimonial-sec {
  color: #fff;
  padding: 70px 0;
  background: -moz-linear-gradient(left,  rgba(241,186,129,1) 0%, rgba(220,192,182,0.9) 31%, rgba(217,193,189,0.92) 35%, rgba(217,193,189,1) 50%, rgba(217,193,189,0.93) 65%, rgba(220,192,180,0.9) 70%, rgba(241,186,129,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(241,186,129,1) 0%,rgba(220,192,182,0.9) 31%,rgba(217,193,189,0.92) 35%,rgba(217,193,189,1) 50%,rgba(217,193,189,0.93) 65%,rgba(220,192,180,0.9) 70%,rgba(241,186,129,1) 100%);
  background: -webkit-gradient(linear,  left top, right top,  from(rgba(241,186,129,1)),color-stop(31%, rgba(220,192,182,0.9)),color-stop(35%, rgba(217,193,189,0.92)),color-stop(50%, rgba(217,193,189,1)),color-stop(65%, rgba(217,193,189,0.93)),color-stop(70%, rgba(220,192,180,0.9)),to(rgba(241,186,129,1)));
  background: -moz-linear-gradient(left,  rgba(241,186,129,1) 0%,rgba(220,192,182,0.9) 31%,rgba(217,193,189,0.92) 35%,rgba(217,193,189,1) 50%,rgba(217,193,189,0.93) 65%,rgba(220,192,180,0.9) 70%,rgba(241,186,129,1) 100%);
  background: -o-linear-gradient(left,  rgba(241,186,129,1) 0%,rgba(220,192,182,0.9) 31%,rgba(217,193,189,0.92) 35%,rgba(217,193,189,1) 50%,rgba(217,193,189,0.93) 65%,rgba(220,192,180,0.9) 70%,rgba(241,186,129,1) 100%);
  background: linear-gradient(to right,  rgba(241,186,129,1) 0%,rgba(220,192,182,0.9) 31%,rgba(217,193,189,0.92) 35%,rgba(217,193,189,1) 50%,rgba(217,193,189,0.93) 65%,rgba(220,192,180,0.9) 70%,rgba(241,186,129,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1ba81', endColorstr='#f1ba81',GradientType=1 );
}

.testimonial-top {
  margin-bottom: 40px;
}

.testimonial-top h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 0;
}

.testimonial-top h2 {
  font-family: 'Cambon SemiBold', sans-serif;
  margin-bottom: 10px;
}

.testimonial-top p {
  margin-bottom: 0;
  font-size: 17px;
}

.testimonial-img {
  position: relative;
}

.testimonial-img-3 img {
  height: 392.83px;
}

.testimonial-img img {
  max-width: 100%;
}

.testimonial-img ul {
  position: absolute;
  top: 8px;
  right: 12px;
}

.testimonial-img ul li {
  padding: 5px 0;
}

.testimonial-img ul li a {
  display: block;
  background: #585858;
  color: #fff;
  width: 33px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.testimonial-img ul li a:hover {
  -webkit-animation: shake-three;
     -moz-animation: shake-three;
       -o-animation: shake-three;
          animation: shake-three;
  -webkit-animation-duration: 0.6s;
     -moz-animation-duration: 0.6s;
       -o-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
       -o-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes shake-three {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
 } 
  20% {
    -webkit-transform: rotateZ(4deg);
            transform: rotateZ(4deg);
  }
  40% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  60% {
    -webkit-transform: rotateZ(4deg);
            transform: rotateZ(4deg);
  }
  80% {
    -webkit-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@-moz-keyframes shake-three {
  0% {
    -moz-transform: rotateZ(0deg);
         transform: rotateZ(0deg);
 } 
  20% {
    -moz-transform: rotateZ(4deg);
         transform: rotateZ(4deg);
  }
  40% {
    -moz-transform: rotateZ(-4deg);
         transform: rotateZ(-4deg);
  }
  60% {
    -moz-transform: rotateZ(4deg);
         transform: rotateZ(4deg);
  }
  80% {
    -moz-transform: rotateZ(-4deg);
         transform: rotateZ(-4deg);
  }
  100% {
    -moz-transform: rotateZ(0deg);
         transform: rotateZ(0deg);
  }
}

@-o-keyframes shake-three {
  0% {
    -o-transform: rotateZ(0deg);
       transform: rotateZ(0deg);
 } 
  20% {
    -o-transform: rotateZ(4deg);
       transform: rotateZ(4deg);
  }
  40% {
    -o-transform: rotateZ(-4deg);
       transform: rotateZ(-4deg);
  }
  60% {
    -o-transform: rotateZ(4deg);
       transform: rotateZ(4deg);
  }
  80% {
    -o-transform: rotateZ(-4deg);
       transform: rotateZ(-4deg);
  }
  100% {
    -o-transform: rotateZ(0deg);
       transform: rotateZ(0deg);
  }
}

@keyframes shake-three {
  0% {
    -webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
 } 
  20% {
    -webkit-transform: rotateZ(4deg);
       -moz-transform: rotateZ(4deg);
         -o-transform: rotateZ(4deg);
            transform: rotateZ(4deg);
  }
  40% {
    -webkit-transform: rotateZ(-4deg);
       -moz-transform: rotateZ(-4deg);
         -o-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  60% {
    -webkit-transform: rotateZ(4deg);
       -moz-transform: rotateZ(4deg);
         -o-transform: rotateZ(4deg);
            transform: rotateZ(4deg);
  }
  80% {
    -webkit-transform: rotateZ(-4deg);
       -moz-transform: rotateZ(-4deg);
         -o-transform: rotateZ(-4deg);
            transform: rotateZ(-4deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

.testimonial-text {
  position: absolute;
  bottom: 60px;
  left: 22.5px;
  max-width: 210px;
  background: rgba(44, 22, 11, 0.4);
  text-align: center;
  padding: 10px;
}

.testimonial-text p {
  margin-bottom: 0;
  font-family: 'NATS', sans-serif;
  font-size: 17px;
  line-height: 1.4;
}

.testimonial-title {
  margin-top: 15px;
}

.testimonial-title h4 {
  margin-bottom: 0;
  font-size: 20px;
}

.testimonial-video {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

a.video-btn {
  display: inline-block;
  padding: 0 6.5px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a.video-btn svg {
  width: 40px;
  height: 40px;
}

a.video-btn:hover {
  text-decoration: none;
  background: rgb(255, 255, 255);
}

.modal-dialog {
  max-width: 850px;
  margin: 30px auto;
}

.modal-body {
  position:relative;
  padding:0;
}

.close {
  position:absolute;
  right: 0;
  top:0;
  z-index:999;
  font-size:2.5rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
  display: block;
}

.close span {
  display: block;
  position: absolute;
  height: 50px;
  width: 50px;
}

.close:hover {
  color: #fff;
}

.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
  outline: 0;
}
/***** testimonial section end *****/


/***** faq section start *****/
.faq-sec {
  padding: 85px 0 240px;
}

.faq-top {
  text-align: center;
  margin-bottom: 50px;
}

.faq-top h2 {
  font-family: 'Cambon SemiBold', sans-serif;
  color: #2c160b;
}

.faq-form {
  margin-right: 35px;
}

.faq-form h4 {
  color: #2c160b;
  font-size: 21px;
  margin-bottom: 18px;
}

.faq-form form .form-group {
  margin-bottom: 12px;
}

.faq-form form .form-group label {
  font-family: 'NATS', sans-serif;
  color: #4f4f4f;
  margin-bottom: 5px;
}

.faq-form form .form-control::-webkit-input-placeholder {
  font-family: 'Lato Light';
  font-size: 15px;
  color: #cdcdcd;
}

.faq-form form .form-control:-moz-placeholder {
  font-family: 'Lato Light';
  font-size: 15px;
  color: #cdcdcd;
}

.faq-form form .form-control::-moz-placeholder {
  font-family: 'Lato Light';
  font-size: 15px;
  color: #cdcdcd;
}

.faq-form form .form-control:-ms-input-placeholder {
  font-family: 'Lato Light';
  font-size: 15px;
  color: #cdcdcd;
}

.faq-form form .form-control::-ms-input-placeholder {
  font-family: 'Lato Light';
  font-size: 15px;
  color: #cdcdcd;
}

.faq-form form .form-control::placeholder {
  font-family: 'Lato Light';
  font-size: 15px;
  color: #cdcdcd;
}

.faq-form form textarea {
  height: 125px;
  resize: none;
}

.form-control {
  border: none;
  background: #f4f4f4;
  color: #2c160b;
  height: 45px;
  padding: 10px 15px;
}

.form-control:focus {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  background: #f4f4f4;
}

a.send-btn {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-top: 12px;
  font-family: 'NATS', sans-serif;
  font-size: 17px;
  width: 109.71px;
  height: 49.33px;
}

a.send-btn span {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2c160b), color-stop(50%, #2c160b), color-stop(50%, #fff));
  background-image: -webkit-linear-gradient(top, #2c160b, #2c160b 50%, #fff 50%);
  background-image: -moz-linear-gradient(top, #2c160b, #2c160b 50%, #fff 50%);
  background-image: -o-linear-gradient(top, #2c160b, #2c160b 50%, #fff 50%);
  background-image: linear-gradient(to bottom, #2c160b, #2c160b 50%, #fff 50%);
  -webkit-background-size: 100% 200%;
     -moz-background-size: 100% 200%;
       -o-background-size: 100% 200%;
          background-size: 100% 200%;
  background-position: center -100%;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  font-family: 'NATS', sans-serif;
  font-size: 17px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a.send-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f9a048;
}

a.send-btn:hover span {
  background-position: center 0%;
}

.faq-accordion {
  margin-left: 35px;
  height: 440px;
}

.accordion {
  padding-bottom: 45px;
  background: #f7f7f7;
}

.card {
  border: none;
  -webkit-border-radius: none;
     -moz-border-radius: none;
          border-radius: none;
}

.card-header {
  padding: 0;
  border: none;
  margin-bottom: 0 !important;
}

.card-header a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 0;
  margin: 0.5px 20px;
  border-bottom: 0.5px solid transparent;
}

.card-header a:hover {
  text-decoration: none;
}

a.collapsed {
  border-bottom: 0.5px solid #8f8f90;
}

.card-header a span:nth-child(1) {
  color: #7b7b7b;
  font-size: 16px;
}

.card-header a span:nth-child(2) {
  font-family: 'HomepageBaukasten Book';
  color: #2c160b;
  font-size: 15px;
  margin-left: 20px;
}

.card-header a span:nth-child(3) {
  position: absolute;
  right: 0;
  display: none;
  bottom: 50%;
  -webkit-transform: translateY(50%);
     -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
       -o-transform: translateY(50%);
          transform: translateY(50%);
  color: #7b7b7b;
  font-size: 18px;
}

.card-header a span:nth-child(4) {
  position: absolute;
  right: 0;
  display: block;
  bottom: 50%;
  -webkit-transform: translateY(50%);
     -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
       -o-transform: translateY(50%);
          transform: translateY(50%);
  color: #7b7b7b;
  font-size: 18px;
}

.card-header a.collapsed span:nth-child(3) {
  display: block;
}

.card-header a.collapsed span:nth-child(4) {
  display: none;
}

.card-body {
  padding: 17px 0;
  margin: 0 20px;
  border-bottom: 0.5px solid transparent;
}

.card-body p {
  color: #5d5d5d;
  font-size: 15px;
  margin-bottom: 0;
  padding: 0 35px;
}

.collapse.show .card-body {
  padding: 17px 0;
  margin: 0.5px 20px;
  border-bottom: 0.5px solid #8f8f90;
}
/***** faq section end *****/


/***** how to section start *****/
.how-to-sec {
  background: #ffcd94;
  color: #fff;
  padding-bottom: 100px;
  -webkit-box-shadow: 0px -65px 40px 25px rgb(255, 205, 148);
     -moz-box-shadow: 0px -65px 40px 25px rgb(255, 205, 148);
          box-shadow: 0px -65px 40px 25px rgb(255, 205, 148);
}

section.how-to-sec {
  overflow: hidden;
}

.how-to-sec h4 {
  font-size: 21px;
}

.how-to-top {
  text-align: center;
  max-width: 665px;
  margin: 0 auto 50px;
}

.how-to-top h4 {
  margin-bottom: 0;
}

.how-to-top h2 {
font-family: 'Cambon SemiBold', sans-serif;
}

.how-to-top .plus-sec span:nth-child(1) {
  background: #fff;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
     -moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

.how-to-top .plus-sec span:nth-child(2) svg {
  fill: #fff;
}

.how-to-top .plus-sec span:nth-child(3) {
  background: #fff;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
     -moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

.how-to-top p {
  margin-top: 8px;
  font-family: 'NATS', sans-serif;
  font-size: 17px;
}

.how-to-item {
  margin-bottom: 40px;
}

.how-to-item img {
  max-width: 70px;
}

.how-to-item-text p {
  margin-bottom: 0;
}

.how-to-bottom-last img {
  max-width: 375px;
}
/***** how to section end *****/


/***** footer start *****/
footer {
  color: #fff;
  background: #ffcd94;
  position: relative;
}

footer > img:nth-child(1) {
  position: absolute;
  left: 0;
  top: 10px;
  width: 250px;
}

footer > img:nth-child(2) {
  position: absolute;
  right: 0;
  top: 10px;
  width: 250px;
  -webkit-transform: rotateY(-180deg);
     -moz-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

footer h5 {
  font-size: 16px;
  color: #fff;
}

/*** newsletter section ***/
.newsletter-sec {
  margin-bottom: 50PX;
}

.newsletter-text h1 {
  font-family: 'NATS', sans-serif;
  font-size: 45px;
}

.newsletter-text h6 {
  font-family: 'NATS', sans-serif;
  font-size: 15px;
}

.newsletter-form form .form-group {
  position: relative;
  margin: 0;
}

.newsletter-form form .form-group input {
  height: 50px;
  max-width: 445px;
  background: #fff;
  padding: 0 70px 0 25px;
}

.newsletter-form form .form-group input:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(249, 160, 72, 0.75);
     -moz-box-shadow: 0 0 5px rgba(249, 160, 72, 0.75);
          box-shadow: 0 0 5px rgba(249, 160, 72, 0.75);
}

.newsletter-form .form-control::-webkit-input-placeholder {
  color: #4f4f4f;
  font-family: 'Lato Light', sans-serif;
  font-size: 15px;
}

.newsletter-form .form-control:-moz-placeholder {
  color: #4f4f4f;
  font-family: 'Lato Light', sans-serif;
  font-size: 15px;
}

.newsletter-form .form-control::-moz-placeholder {
  color: #4f4f4f;
  font-family: 'Lato Light', sans-serif;
  font-size: 15px;
}

.newsletter-form .form-control:-ms-input-placeholder {
  color: #4f4f4f;
  font-family: 'Lato Light', sans-serif;
  font-size: 15px;
}

.newsletter-form .form-control::-ms-input-placeholder {
  color: #4f4f4f;
  font-family: 'Lato Light', sans-serif;
  font-size: 15px;
}

.newsletter-form .form-control::placeholder {
  color: #4f4f4f;
  font-family: 'Lato Light', sans-serif;
  font-size: 15px;
}

a.paper-plane {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 6px;
  padding: 0 10px 0 0;
  overflow: hidden;
}

a.paper-plane svg {
  width: 38px;
  height: 38px;
  fill: #ffcd94;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

a.paper-plane:hover {
  -webkit-animation-name: fly;
     -moz-animation-name: fly;
       -o-animation-name: fly;
          animation-name: fly;
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes fly {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  80% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

@-moz-keyframes fly {
  0% {
    -moz-transform: translateX(-5px);
         transform: translateX(-5px);
  }
  80% {
    -moz-transform: translateX(5px);
         transform: translateX(5px);
  }
  100% {
    -moz-transform: translateX(5px);
         transform: translateX(5px);
  }
}

@-o-keyframes fly {
  0% {
    -o-transform: translateX(-5px);
       transform: translateX(-5px);
  }
  80% {
    -o-transform: translateX(5px);
       transform: translateX(5px);
  }
  100% {
    -o-transform: translateX(5px);
       transform: translateX(5px);
  }
}

@keyframes fly {
  0% {
    -webkit-transform: translateX(-5px);
       -moz-transform: translateX(-5px);
         -o-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  80% {
    -webkit-transform: translateX(5px);
       -moz-transform: translateX(5px);
         -o-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(5px);
       -moz-transform: translateX(5px);
         -o-transform: translateX(5px);
            transform: translateX(5px);
  }
}

/*** footer top section ***/
.footer-top-sec {
  margin-bottom: 20px;
}

.footer-logo img {
  max-width: 100px;
}

.footer-top-1 p {
  font-size: 15px;
}

.footer-top-2 ul li a {
  font-family: 'HomepageBaukasten Book', sans-serif;
  font-size: 15px;
  color: #fff;
  margin: 4px 0;
}

.footer-top-2 ul li a span {
  position: relative;
}

.footer-top-2 ul li a span::before {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  -webkit-transform: scaleX(0);
     -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
       -o-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
     -moz-transform-origin: left;
      -ms-transform-origin: left;
       -o-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-top-2 ul li a:hover {
  text-decoration: none;
}

.footer-top-2 ul li a:hover span::before {
  -webkit-transform: scaleX(1);
     -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
     -moz-transform-origin: right;
      -ms-transform-origin: right;
       -o-transform-origin: right;
          transform-origin: right;
}

.footer-top-3 p {
  font-size: 15px;
  line-height: 1.6;
}

.footer-top-4 span {
  font-family: 'HomepageBaukasten Book', sans-serif;
  font-size: 15px;
}

.footer-top-4 ul {
  margin-top: 10px;
}

.footer-top-4 ul li {
  display: inline-block;
}

.footer-top-4 ul li a {
  display: block;
  width: 25px;
  height: 25px;
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background: #fff;
  color: #ffcd94;
  margin: 0 7.5px;
}

.footer-top-4 ul li:nth-of-type(1) a {
  margin-left: 0;
}

.footer-top-4 ul li:nth-of-type(2) a {
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  width: 26.5px;
  height: 26.5px;
  line-height: 26.5px;
}

.footer-top-4 ul li a:hover {
  text-decoration: none;
}

.footer-top-4 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 12px;
}

.footer-top-4 ul li {
  display: inline-block;
  margin: 0 3px;
}

.footer-top-4 ul li:nth-of-type(2) i.social-first-icon{
  margin: 3.3px 0;
}

.footer-top-4 ul li:first-of-type {
  margin-left: 0;
}

.footer-top-4 ul li a {
  color: #ffcd94;
  background: #ffffff;
  font-size: 18px;
  width: 25px;
  height: 25px;
  text-align: center;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  display: inline-block;
  overflow: hidden;
}

i.social-icon {
  display: block;
  padding: 1px;
}

i.social-first-icon {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  margin: 1.9px 0;
}

.footer-top-4 ul li a:hover i.social-first-icon {
  margin-top: -20px;
}

/*** footer bottom section ***/
.footer-bottom {
  padding: 15px 0;
  border-top: 1px solid #ffd7a9;
}

.footer-bottom p {
  margin-bottom: 0;
}

.footer-bottom ul li {
  display: inline-block;
}

.footer-bottom ul li a {
  display: block;
  width: 25px;
  height: 25px;
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background: #fff;
  color: #ffcd94;
  margin: 0 7.5px;
}

.footer-bottom ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: -11px;
}

.footer-bottom ul li {
  display: inline-block;
  margin: 0;
}

.footer-bottom ul li a {
  color: #ffffff;
  background: #ffcd94;
  font-size: 22px;
  width: 33px;
  height: 27px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  display: inline-block;
  overflow: hidden;
}

i.card-icon {
  display: block;
  padding: 1px;
}

i.card-first-icon {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  margin: 1.9px 0;
}

.footer-bottom ul li a:hover i.card-first-icon {
  margin-top: -24px;
}
/***** footer end *****/
